@model IEnumerable<Chamados54WebApp.Data.Chamado>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Portal do Técnico</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Chamados54WebApp.styles.css" asp-append-version="true" />
    <style>
        body {
            padding: 20px;
        }
    </style>
</head>
<body>

    <h1>Portal do Técnico</h1>

    <p>
        [<strong>Área de Trabalho</strong>] | <a href="/conta/logout">[Sair]</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Protocolo
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cliente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataSolicitacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ocorrencia)
                </th>
                <th>
                    Solução
                </th>
                <th>
                    Situação
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>#@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cliente.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataSolicitacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ocorrencia)
                    </td>
                    <td>
                        @if (string.IsNullOrEmpty(item.Problema))
                        {
                            <span>N/A</span>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Problema)
                        }
                    </td>
                    <td>
                        @if (item.Concluido)
                        {
                            <span>Finalizado</span>
                        }
                        else if (item.Tecnico == null)
                        {
                            <span>Aguardando Técnico</span>
                        }
                        else
                        {
                            <span>Em andamento</span>
                        }
                    </td>
                    <td>
                        @if (!item.Concluido)
                        {
                            @if (item.Tecnico == null)
                            {
                                <span><a href="javascript:;" onclick="if(confirm('Você deseja realmente assumir esse atendimento?')) window.location.href='/PortalTecnico/Home/Aceitar/@item.Id';">[Aceitar 👍]</a></span>
                            }
                            else if (!string.IsNullOrEmpty(item.Problema))
                            {
                                <span>Aguardando cliente.</span>
                            }
                            else
                            {
                                <span>
                                    <a href="javascript:;" onclick="EnviarSolucaoProblema(@item.Id)">[Enviar Solução ✅]</a>
                                    | <a href="javascript:;" onclick="if(confirm('Você deseja realmente abandonar esse atendimento?')) window.location.href='/PortalTecnico/Home/Abandonar/@item.Id';">[Abandonar ❌]</a>
                                </span>
                            }
                        }
                        else
                        {
                            <span>N/A</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <script>
        function EnviarSolucaoProblema(id) {
            const solucao = prompt('Qual a solução que você deseja enviar ao cliente?', '');

            if (solucao) {
                if(confirm('Você confirma o envio da solução abaixo?\n\nSolução: ' + solucao)) {
                    window.location.href = '/PortalTecnico/Home/Solucao/' + id + '?texto=' + encodeURIComponent(solucao);
                }
            }
        }
    </script>
</body>
</html>
